.header {
  background-color: var(--color-dark);
  color: var(--color-surface);
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}

.profile-page {
  display: flex;
  flex-direction: column;
}

.accounts-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (width >= 768px) {
  .header {
    padding: 3rem 2rem;
  }

  .header h1 {
    font-size: 2.5rem;
  }
}

@media (width <= 600px) {
  .header {
    padding: 1.5rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}

@media (width <= 375px) {
  .header {
    padding: 1rem;
  }

  .header h1 {
    font-size: 1.25rem;
  }
}
